body{
    font-family: "Montserrat";
}
.container-fluid{
    padding: 3% 15% 5%;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
    line-height: 1.5;
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
p{
    color: #8f8f8f;
}
/*Navigation-bar*/

.navbar{
  padding:0 0 3rem;
}
.navbar-brand{
 font-family: "Ubuntu";
 font-size: 2.5rem;
 font-weight: bold;
 padding-left: 1%;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

/* Down-Btn*/

.download-btn{
    margin: 5%  3% 5% 0;
}

/* img */

.title-img{ 
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
  }
#title{
    background:linear-gradient(#d11c65,#f36434);
    color: #fff;
}
#title .container-fluid{
    padding: 0% 15% 5%;
}
.fa-do{
    padding-right: 15%;
}
.fa-do:hover{
    color: black ;
}

  /* Feature */

#check{
    padding: 50px 0 50px 0;
    color: #ef8172;
    font-size: 200% ;
}
#heart{ 
    padding: 50px 0 50px 0;
    color: #ef8172;
    font-size: 200%;
}
#bull{
    padding: 50px 0 50px 0;
    color: #ef8172;
    font-size: 200% ;
}
#features{
    padding:7% 5%;
    background-color: #fff;
    position: relative;
   
}
.feature-box{
    text-align: center;
}
#check:hover{
    color: red;
}
#bull:hover{
    color: #66bfbf;
}
#heart:hover{
    color: greenyellow;
}

/* Testimonials */

#testimonials{
    text-align: center;
   background-color: #ef8172;
   color: #fff;
}
.testimonials-img{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
    
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}

/* Fotter */

#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
    font-family: "Montserrat";
}
#footer{
     text-align: center;
     padding: 7% 15%;

}
a{
    color:#8f8f8f;
    line-height: 5;
    padding: 2.5%;
}
.fa-tw:hover{
   color: black;
}
.fa-lin:hover{
    color: black;
}
.fa-git:hover{
    color: black;
}
.fa-mai:hover{
    color: black;
}

/* Media */

@media (max-width:1056px){
    .title-img{
        position: static;
        width: 60%;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}
